<div class="col-md-offset-4 col-md-5">

<h2> Select a Category </h2>

  <% @categories.each do |category| %>
   <ul>
    <a class="thumbnail" href="<a href="/categories/<%= category.id %>""><%= category.title %></a>
  </ul>
  <% end %>
</div>

</div>