
<div class="col-md-offset-5 col-md-4">
  <h2><%= @category.title %></h2>
  <a href="/categories/<%= @category.id %>/photos/uploader" class="btn btn-default" type="submit">Add Photo</a>
  <a href="/categories" class="btn btn-default" type="submit">Back</a>
</div>

<div>
  <% @photos.each do |photo| %>
    <p>
      <a href="/photos/<%= photo.id %>">
        <img src="<%= photo.photo_url %>">
      </a>
    </p>
  <% end %>
</div>





