<form action="/login" method="POST">
  <input type="text" name="user[email]" placeholder="Email Here">
  <input type="text" name="user[password]" placeholder="Password Here">
  <input type="submit" value="Login">
</form>