<form action="/signup" method="POST">
  <input type="text" name="user[name]" placeholder="Name Here">
  <input type="text" name="user[email]" placeholder="Email Here">
  <input type="text" name="user[password]" placeholder="Password Here">
  <input type="text" name="user[password]" placeholder="Confirm Password">
  <input type="submit" value="Signup">
</form>