body {
  padding-top: 100px;
}

h1{
  color: black;
  padding-top: 200px;
}

h2{
  color:black;
}

.buttons {
  padding-left: 60px;
}

img {
  position: relative;
  width: 40%;
  height: 40%;
}

#title{
  text-align: center;
}