body {
  padding-top: 100px;
}

h1{
  color: black;
  padding-top: 200px;
}

h2{
  color:black;
}

ul {
  text-align: center;
  padding-right: 60px;
}

.all_categories {
  padding-top: 50px;
}

.buttons {
  padding-left: 60px;
}

.photo_buttons {
  padding-left: 38%;
  margin: 20px;
}

img {
  position: relative;
  width: 40%;
  height: 40%;
}

#title{
  text-align: center;
}