<h1>Welcome to Photos</h1>

<div>
  <a href="/signup"<button class="btn btn-default" type="submit">Signup</button></a>
</div>

<div>
 <a href="/login"<button class="btn btn-default" type="submit">Login</button></a>
</div>




