<div id="index_page">
  <div class="col-md-offset-5 col-md-4">

    <h1>Welcome to Photos</h1>

    <div>
      <a href="/signup"<button id="signUp" class="btn btn-default" type="submit">Signup</button></a>
      <a href="/login"<button id="logIn" class="btn btn-default" type="submit">Login</button></a>
    </div>

  </div>
</div>




