<div class="homepage">
 <div id="index_page">

  <div class="col-md-offset-3 col-md-4">

   <div id="headline_box">
    <h1>Welcome to Photos</h1>
     <div class="buttons">
      <a href="/signup"<button id="signUp" class="btn btn-default" type="submit">Signup</button></a>
      <a href="/login"<button id="logIn" class="btn btn-default" type="submit">Login</button></a>
    </div>
  </div>

   </div>
  </div>

 </div>
</div>




